### Data Structure
It include collection which inclue list,tupe,set,dictionary,array,string

### List

In [2]:
#lis1 is a function
lis1=[10,20,30,40,80] #hetrogenous 
lis2=[10,"ram","pune",97,80] #hemogenous 
#print function
print(lis1)
print(lis2)

[10, 20, 30, 40, 80]
[10, 'ram', 'pune', 97, 80]

In [8]:
# WAP to define the list between 1-10
#lis1 is a function
lis1=[1,2,3,4,5,6,7,8,9,10]
#slicing method
lis1[7:0:-1]

[8, 7, 6, 5, 4, 3, 2]

Slicing method

In [9]:
# lis1 is a function
lis1=[1,2,3,4,5,6,7,8,9,10]
#slicing method
lis1[1:3]

[2, 3]

In [13]:
#lis1 is a function
lis1=[1,2,3,4,5,6,7,8,9,10]
#slicing method ::
lis1[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
#lis1 is a function
lis1=[1,2,3,4,5,6,7,8,9,10]
#slicing method ::
lis1[0:8:-1]

[]

Append Method

In [18]:
#lis1 is a function
lis1=[1,2,3,4,5,6,7,8,9,10]
# append method
lis1.append(2)
print(lis1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2]

Insert Method

In [20]:
#lis1 is a function
lis1=[1,2,3,4,5,6,7,8,9,10]
# insert method
lis1.insert(4,11)
print(lis1)

[1, 2, 3, 4, 11, 5, 6, 7, 8, 9, 10]

Extend Method

In [24]:
#lis1 and lis2 are a function
lis1=[1,2,3,4,5,6,7,8,9,10]
lis2=['cow','pink',33,87,'hulk',40,'buzz']
# extend method
lis1.extend(lis2)
print(lis1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'cow', 'pink', 33, 87, 'hulk', 40, 'buzz']

Length Method

In [25]:
#lis2 is a function
lis2=['cow','pink',33,87,'hulk',40,'buzz']
#length is a method
len(lis2)

7

Removing elements

Pop Method

In [26]:
lis2=['cow','pink',33,87,'hulk',40,'buzz']
#pop method
lis2.pop()

'buzz'

In [27]:
lis2=['cow','pink',33,87,'hulk',40,'buzz']
#pop method
lis2.pop(3)

87

Remove Method

In [32]:
lis2=['cow','pink',33,87,'hulk',40,'buzz']
#remove method
lis2.remove(33)
print(lis2)

['cow', 'pink', 87, 'hulk', 40, 'buzz']

Delete method

In [34]:
lis2=['cow','pink',33,87,'hulk',40,'buzz']
#Delete method
del lis2[3]
print(lis2)

['cow', 'pink', 33, 'hulk', 40, 'buzz']

In [37]:
lis2=['cow','pink',33,87,'hulk',40,'buzz']
#Delete method
del lis2
print(lis2)

NameError: name 'lis2' is not defined

clear method

In [39]:
#clear method
lis2.clear()
print(lis2)

NameError: name 'lis2' is not defined

Sort method

In [42]:
# Sort method
# sorts the list in to ascending and descending order.
a=[45,21,1,2,3,16,50,100,30]
a.sort()
# output: the list is sort into smaller to bigger number
print(a)

[1, 2, 3, 16, 21, 30, 45, 50, 100]

In [44]:
# with characters
b=['cow','dog','cat','bird']
b.sort()
print(b)
# output: this methon can even be used with characters

['bird', 'cat', 'cow', 'dog']

In [48]:
# sort method with decreasing order
a=[45,21,1,2,3,16,50,100,30]
# with using reverse=True we can print the list in decresing order.
a.sort(reverse=True) 
print(a)
# output: the result is print in desending to ascending order.

[100, 50, 45, 30, 21, 16, 3, 2, 1]

In [49]:
# Reverser method
# reverse the orginal list
a=[45,21,1,2,3,16,50,100,30]
a.reverse()
# output: the list starts from the last element and goes up to the first element.
print(a)

[30, 100, 50, 16, 3, 2, 1, 21, 45]

Index Method

In [50]:
# Index Method
# give the index value of the element
a=[45,21,1,2,3,16,50,100,30]
print(a.index(3))
# output: it gives the index value of the given input, in this case the input is '3' and index value of 3 is '4'.

4

Count Method

In [51]:
# Count Method
# count repeated element in the list
a=[45,21,1,2,3,16,50,100,30,1,2,3,16,50]
print(a.count(1))
# output: count how many time the elements are repeated in the list, '1' is repeated twice so the result is '2'.

2

Copy Method

In [57]:
# Copy Method
# Returns copy of the list, to perform function of copied list without changing the orginal list.
a=[45,21,1,2,3,16,50,100,30]
l=a.copy()
# output: copied the 'a' list into 'l' list.
print(l)

[45, 21, 1, 2, 3, 16, 50, 100, 30]

In [61]:
# change made in 'l' list
l=[45, 21, 1, 2, 3, 16, 50, 100, 30]
l.append(23)
# output: 23 is added to "l" list at end.
print(l)

[45, 21, 1, 2, 3, 16, 50, 100, 30, 23]

In [62]:
a
#output: not change is made to teh orginal.

[45, 21, 1, 2, 3, 16, 50, 100, 30]

Concatenating 2 list

In [65]:
# Joining two list
a=[45,21,1,2,3,16,50,100,30]
b=[500,530,98,7,9]
#output: 'a'and 'b' list are joint together (a list )
print(a+b) # a list come before b list

[45, 21, 1, 2, 3, 16, 50, 100, 30, 500, 530, 98, 7, 9]

In [66]:
a=[45,21,1,2,3,16,50,100,30]
b=[500,530,98,7,9]
#output: 'a'and 'b' list are joint together (a list )
print(b+a) # 'b' list come before 'a' list

[500, 530, 98, 7, 9, 45, 21, 1, 2, 3, 16, 50, 100, 30]

Reverse

In [2]:
# Reverse the order of the list.
n=[1,2,3,4,5,6,7,8,9]
n.reverse()
print(n)
# output: reverse the order of the list 'n'.

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Maxsimum