### Union

In [2]:
#Union combines two sets 
a={1,2,3,4,5,6} #set1
b={5,6,7,8,9,} #set2
c= a.union(b)
print(c)
#output: both the set are combine in one single set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Update

In [8]:
# Add items into existing set from another set
a={1,2,3,4,5,6} #set1
b={5,6,7,8,9,} #set2
a.update(b)
print(a,b)
# output: in result frist set contain all the elements where as another set contains the elements which were not there in set1

{1, 2, 3, 4, 5, 6, 7, 8, 9} {5, 6, 7, 8, 9}

### Intersection and intersection_update

In [9]:
# Value that are present in both the sets
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
print(a.intersection(b))
#output: '5,6' are the value which are present in both the set

{5, 6}

intersection_update

In [11]:
# Update into existing set from another set
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
a.intersection_update(b)
print(a,b)
# Output: opposite of union_update, over here first ouput set contain the value that are present in both set(a,b) and another output set contain value from set(b).

{5, 6} {5, 6, 7, 8, 9}

### Difference and Difference_update

In [12]:
# The value which are not common
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
print(a.difference(b)) # by putting (a.difference(b)) the value from 'a' which are not common the both the sets will be shown.
#output: (1,2,3,4) are the value which are not common in 'a' and 'b' sets.

{1, 2, 3, 4}

In [13]:
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
print(b.difference(a))# by putting (b.difference(a)) the value from 'b' which are not common the both the sets will be shown.
# Output: (8,9,7) are the value which are in common in set 'a' but not in 'b' sets.

{8, 9, 7}

Difference_update

In [14]:
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
print(a.difference_update(b))
print(a,b)
# Output: set1 contain common value in set"a" and set2 contain whole "b" set.

None
{1, 2, 3, 4} {5, 6, 7, 8, 9}

### Symmetric_difference and symmetric_difference_update

In [17]:
# The value which are common are  not present
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
print(a.symmetric_difference(b))
# Output: (5,6) are in present in both the sets thats why the output didn't show that, that value which are not common are shown.

{1, 2, 3, 4, 7, 8, 9}

symmetric_difference_update

In [20]:
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
print(a.symmetric_difference_update(b))
print(a,b)
# Output: contain value that are not common with value of set "b"

None
{1, 2, 3, 4, 7, 8, 9} {5, 6, 7, 8, 9}

## Sets Methods

#### isdisjoint

In [21]:
# check the item presented in current are existing in another set
a={1,2,3,4,5,6} 
b={5,6,7,8,9,} 
print(a.isdisjoint(b))
#output: the result is false because some same items are presented in the sets, it would have been True if ther were nothing common in the sets.

False

#### issuperset

In [26]:
# Check if items in particular set are presented in orginal set.
a={1,2,3,4,5,6,} 
b={5,6,7,8,9,} 
print(b.issuperset(a))
#output: is false because not all elements in set 'b' are common to set 'a'.

False

issubset

In [30]:
# It checks if all the items of the original set are present in the particular set. It returns True if all the items are present, else it returns False.
a={1,2,3,4,5,6,} 
b={5,6,7,8,9,1,2,3,4} 
print(a.issubset(b))
#output: all the elements of set 'a' are present in set 'b'.

True

Add

In [34]:
# it used to add a single items to the set
a={1,2,3,4,5,6,} 
a.add(10)
print(a)

{1, 2, 3, 4, 5, 6, 10}

Update

#If you want to add more than one item, simply create another set or any other iterable object(list, tuple, dictionary), and use the update() method to add it into the existing set

In [37]:
a={1,2,3,4,} 
b={5,6,7,8,9,} 
a.update(b)
print(a)
#output: both set 'b' is combine to set 'a'

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Remove/Discard

In [38]:
# Its use to remove items from set.
a={1,2,3,4,} 
a.remove(3) #remove methond raise error
print(a)
# output: 3rd number is removed from set

{1, 2, 4}

In [39]:
a={1,2,3,4,} 
a.discard(3) #discard method does not raise error
print(a)
# output: 3rd number is removed from set

{1, 2, 4}

Pop

This method removes the last item of the set but the catch is that we don't know which item gets popped as sets are unordered. However, you can access the popped item if you assign the pop method to a variable

In [42]:
a={1,2,3,4,5,6,7,8,9} 
a.pop()
print(a)
#output: by default '1' number is removed

{2, 3, 4, 5, 6, 7, 8, 9}

Del

In [43]:
# to delete the set
a={1,2,3,4,5,6,7,8,9} 
del a
print(a)
#output: set 'a' is deleted

NameError: name 'a' is not defined

Clear

In [45]:
# This method clears all items in the set and prints an empty set.
b={'sadiya', 123, 'you', 6}
b.clear()
print(b)
#output: set 'b' has been cleared

set()

Check if Item exist

In [51]:
# to check if an item exists in the set or not.
c={'sadiya', 124, 'you', 7}
if 'sadiya' in c:
    print("sadiya is present")
else:
    print("sadiya is absent ")
#output: according to set 'c' 'sadiya' is ther there in set so it shopws present.

sadiya is present

copy()

In [1]:
# The copy() method copies the set.

a={1,2,3,4,5,6} 
x=a.copy()
x
# output: copys the function.

{1, 2, 3, 4, 5, 6}