Function and Methods which are used in string

String is a collection of all type of value such as num,symbol,character.
String is enclosed with ""/''/""" """/''' '''.
''' ''' is called a docstring.
Has around 40-50 type of function.

Capitalize function

In [1]:
#capitalize function
# This is used to capitalize first letter in the string.
a="pune is a nice city"
a.capitalize()
#output: it capitalize first letter in string which is 'P' in pune

'Pune is a nice city'

uppercase function

In [2]:
# uppercase function
# This method upper case the entire string.
a="pune is a nice city"
a.upper()
# output:it upper case the entire string.

'PUNE IS A NICE CITY'

lowercase function

In [3]:
# lowercase function
# This method lower case the entire string.
a="pune is a nice city"
a.lower()
# output:it lower case the entire string.

'pune is a nice city'

count function

In [10]:
# count function
# count the same element in the string
a="pune is a nice city,pune is a nice city"
a.count('is')
#output: it count the duplicate value in a string like over there 'is' is mention 2 time in string so thr count is 2.

2

find function

In [11]:
# find function
# find function finds in character in the string.
a="pune is a nice city"
a.find("i") 
#output: over there find method finds that how many time the character is use in a string.
# for now 'i' is mention 5 times in a string, so find shows 5

5

replace function

In [12]:
# replace function
# replace funcation replace the certain element with a desired element.
a="pune is a nice city"
a.replace("nice",'average')
#output: over here with useing replace function we replace 'nice' word with 'average' word.

'pune is a average city'

swapcase function

In [13]:
# swapcase function
# swapcase is used to swap character in the string.
a="pUNE iS a NiCe CItY"
a.swapcase()
# output: over here all the character which were in 'lower case' are turned into 'upper case' and all character which were in 'upper case' are turned into 'lower case'.

'Pune Is A nIcE ciTy'

Center function

In [18]:
# Center function
# center function is use to move the string.
a="pune is a nice city"
a.center(30) #50 indicates the amount of space we need.
# output: while putting certain number in the bracket we can move the string from its orginal place to its desired place.
# take number like 20,30,40,50 in the bracket.

'     pune is a nice city      '

Join function

In [25]:
# join function
# Are use to joint element in the string together with character,number or symbol.
a=("pune", "is","a","nice city")
x="#".join(a)# 'x' var is used because with just a .
print(x)
# output: As seen the string is joined with '#' with the help of this function.
# and also elements which are seperated by a coma "#" is used in there, for ex 'nice city' is not seperated by a coma so not join is made

pune#is#a#nice city

Title function

In [26]:
# title function
# title funcation is use covert the string into title
a="pune is a nice city"
a.title()
# ouput: this function the first character to the element into capital letter.
# this is mostly used in blog,articals,content writing.

'Pune Is A Nice City'

Casefold

In [2]:
# this method returns a string where all the characters are lower case.
a="Pune Is A Nice City"
b=a.casefold()
print(b)
# output: small cased all the capital letter in the string

pune is a nice city

Encode

In [3]:
# This method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.
a="Pune Is A Nice City"
b=a.encode() 
print(b)
# output: it ignores the characters that cannot be encoded

b'Pune Is A Nice City'

Endswith

In [8]:
# this method returns True if the string ends with the specified value, otherwise False.
a="Pune Is A Nice City."
b=a.endswith('.')
print(b)
# output: the value came 'true' because the string ended with fullstop.

True

Expandtabs

In [21]:
# this method sets the tab size to the specified number of whitespaces.
a="P\tu\tn\te is a c\ti\tt\ty" # "\t"  to create horizontal whitespace in strings
b=a.expandtabs(3) # 3 indicates the number of space needed 
print(b)
#output: created space between the characters.

P  u  n  e is a c i  t  y

format()

This method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}.

In [25]:
txt='My name is {}, and my age is {}'
name='sadiya'
age=22
print(txt.format('sadiya',22))
#output: name and age are inserted inside the braces via usind format function

My name is sadiya, and my age is 22

format_map()

In [27]:
#Formats specified values in a string
a = {'x':'John', 'y':'Wick'} 
  
# Use of format_map() function 
print("{x}'s last name is {y}".format_map(a))

#output: in place of 'x' 'john' is printed and in place of 'y' 'wick is printed' "x and y " are in curly brackets

John's last name is Wick

index()

In [31]:
#method finds the first occurrence of the specified value.

a="Pune Is A Nice City."
b=(a.find('e'))
print(b)
# output: the result comes as 3 which implies thats "e" is mention 3 time in the string.

3

isalnum()

In [32]:
# method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

a="Pune Is A Nice City & its pin is 411014."
b=(a.isalnum())
print(b)
# output: the result came as false because "&" are special characters.

False

isalpha()

In [8]:
# method returns True if all the characters are alphabet letters (a-z).
a="Sadiya" # can read only one set of character
b=(a.isalpha())
print(b)
# output: all character are alphabet

True

isascii()

In [13]:
# method returns True if all the characters are ascii characters  (a-z).

a="Company123 and day"
b=(a.isascii())
print(b)
# output: all character are alphabet

True

isdecimal()

In [15]:
#method returns True if all the characters are decimals (0-9).

a="Company123 and day"
b=(a.isdecimal())
print(b)
# ouput: the result is false because alphabet are includes

False

isdigit()

In [19]:
# method returns True if all the characters are digits, otherwise False.

a='782764835 is a number'
b=(a.isdigit())
print(b)
# ouput: the result is false because alphabet are includes same as isdecimal function

False

isidentifier()

The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [20]:
a='782764835 is a number'
b=(a.isidentifier())
print(b)
# output: result is false because valid identifier cannot start with a number, or contain any spaces.

False

islower()

In [22]:
# method returns True if all the characters are in lower case, otherwise False.

a='pune is a city'
b=(a.islower())
print(b)
# output: all value are in lower case

True

isnumeric()

The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like ² and ¾ are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

In [26]:
a='782764835'
b=(a.isnumeric())
print(b)
# output: all value are numercial

True

isprintable()

In [27]:
#method returns True if all the characters are printable, otherwise False.
a = "Hello!\nAre you #1?"
b=(a.isprintable())
print(b)
#output: it is not printable

False

isspace()

In [4]:
# method returns True if all the characters in a string are whitespaces, otherwise False.

a="  "
b=(a.isspace())
print(b)

True

istitle()

method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [6]:
a = "Hello, And Welcome To My World!"
b=(a.istitle())
print(b)
# output: it came true because all the first letter are capital

True

isupper()

In [9]:
# method returns True if all the characters are in upper case, otherwise False.

a = "HELLO, AND WELCOME TO MY WORLD!"
b=(a.isupper())
print(b)
# output: all the characters are in uppercase

True

ljust()

In [13]:
# method will left align the string, using a specified character (space is default) as the fill character.

a = "HELLO"
b=a.ljust(30)
print(b, 'and welcome to my world')
# ourput by using this method we acn put space in the string

HELLO                          and welcome to my world

lstrip()

In [18]:
# method removes any leading characters (space is the default leading character to remove)

a = "   HELLO, AND WELCOME TO MY WORLD!    "
b=a.lstrip()
print(b)

#output: remove unwanted space from start.

HELLO, AND WELCOME TO MY WORLD!

lower()

In [20]:
# method returns a string where all characters are lower case.

a = "HELLO, AND WELCOME TO MY WORLD!"
b=a.lower()
print(b)
# output: printed all the chararcter in small case

hello, and welcome to my world!

maketrans()

In [ ]:
#  method returns a mapping table that can be used with the translate() method to replace specified characters.

partition()

method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

In [7]:
a="I could eat bananas all day"
b=a.partition("banana")
print(b)
# output: it split the string in to tuple.

('I could eat ', 'banana', 's all day')

In [2]:
a="I could eat bananas all day"
b=a.partition("watermelon")
print(b)
# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:
# output: if the specified value is not in the strng than the whole string will be return back

('I could eat bananas all day', '', '')

rfind()

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.

In [5]:
a="I could eat bananas all day"
b=a.find('all')
print(b)
#output: found the index place of "all" which is 20

20

In [6]:
a="I could eat bananas all day"
b=a.find('the')
print(b)
#output: if element which wanted is not mention than the default result is -1.

-1

rindex()

The rindex() method finds the last occurrence of the specified value.

The rindex() method raises an exception if the value is not found.

The rindex() method is almost the same as the rfind() method.

In [8]:
a="I could eat bananas all day"
b=a.rfind("a")
print(b)
#output: finded the last occurance of 'a' and its index is 25th

25

In [10]:
# Where in the text is the last occurrence of the letter "a" when you only search between position 1 and 10?:
a="I could eat bananas all day"
b=a.rfind("a",1,10)
print(b)
#output: find last occurance between posoition.

9

rjust()

In [12]:
#  method will right align the string, using a specified character (space is default) as the fill character.

a='eat'
b=a.rjust(10)
print(b,"banana all day")
#output: put space in begining

a='eat'
b=a.rjust(20,'s')
print(b)
#output: put special chractaer in the begining ehich is mention.

       eat banana all day
ssssssssssssssssseat

rpartition()

method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

In [18]:
a="I could eat bananas all day, bananas are my favorite fruit"
b=a.rpartition('bananas')
print(b)
#output: it break the last occurence of elements

a="I could eat bananas all day, bananas are my favorite fruit"
b=a.rpartition('apple')
print(b)
#output: 'apple' is not mention in the string, so thats the reason why the string retrurn the way it way without any break and with 2 space in front.

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
('', '', 'I could eat bananas all day, bananas are my favorite fruit')

rsplit()

method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method.

# When maxsplit is specified, the list will contain the specified number of elements plus one.

In [24]:
a="apple, banana, cherry"
b=a.rsplit()
print(b)
#output: it split the elements.

a="apple, banana, cherry"
b=a.rsplit(",", 1)
print(b)
# output: by doing maxslpit the result has only 2 elements "apple, banana" is the first element, and "cherry" is the last

['apple,', 'banana,', 'cherry']
['apple, banana', ' cherry']

rstrip()

In [29]:
# The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

a="     I could eat bananas all day, bananas are my favorite fruit       "
b=a.rstrip()
print(b)
#output: removed space from the end.

     I could eat bananas all day, bananas are my favorite fruit

split()

method splits a string into a list.

You can specify the separator, default separator is any whitespace.

In [40]:
a='hello, my name is Peter, I am 22 years old'
b=a.split(",")
print(b)
#output: split the string where '#' were there

a='hello# my name is Peter# I am 22 years old'
b=a.split("#", 1)
print(b)
#output: splited the first occurence in "#" with comma

a='hello# my name is Peter# I am 22 years old'
b=a.split("#", 2)
print(b)
#output: splited occurence of "#" with comma it change according to number.

['hello', ' my name is Peter', ' I am 22 years old']
['hello', ' my name is Peter# I am 22 years old']
['hello', ' my name is Peter', ' I am 22 years old']

splitlines()

In [42]:
# method splits a string into a list. The splitting is done at line breaks.

a="Thank you for the music\nWelcome to the jungle"
b=a.splitlines()
print(b)
#output: splited the string where line break symbol "\n" is mention

['Thank you for the music', 'Welcome to the jungle']

startswith()

In [44]:
# The startswith() method returns True if the string starts with the specified value, otherwise False.

a="Thank you for the music Welcome to the jungle"
b=a.startswith('Thank you')
print(b)
#output: the value came true because the string does start from "Thank you"

True

strip()

method removes any leading, and trailing whitespaces.

Leading means at the beginning of the string, trailing means at the end.

You can specify which character(s) to remove, if not, any whitespaces will be removed.

In [45]:
a="              Thank you for the music Welcome to the jungle          "
b=a.strip()
print(b)
#output: removed all space from begining and ending.

Thank you for the music Welcome to the jungle

translate()

zfill()

method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

In [55]:
a="Thank you"
print(a.zfill(20))
#output: the zero will be added to the index value till value come to thank you.

a="Thank you"
print(a.zfill(2))
#output: nthing is added because the value paramenter is less than the length of the string.

00000000000Thank you
Thank you

Max

function returns the item with the highest value, or the item with the highest value in an iterable.

If the values are strings, an alphabetically comparison is done.

In [57]:
list=("Mike", "John", "Vicky")
x=min(list)
print(x)

John